@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline{
  --color-surface-1: hsl(var(--primary-900));
  --color-surface-2: hsl(var(--primary-800));
  --color-surface-3: hsl(var(--primary-700));

  --color-primary-text: hsl(var(--neutral-100));
  --color-secondary-text: hsl(var(--primary-100));
  --color-body-text: hsl(var(--primary-200));

  --color-border-1: hsl(var(--primary-500)); /* top */
  --color-border-2: hsl(var(--primary-600)); /* bottom */

  --background: hsl(var(--primary-900));
  --breakpoint-xss:350px;
  --breakpoint-xs: 540px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 750px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --font-sans: 'Space Grotesk', sans-serif;

    /* Font sizes */
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1.125rem;
    --text-lg: 1.5rem;
    --text-xl: 2.25rem;
    --text-2xl: 2.5rem;
    --text-3xl: 3rem;
    --text-4xl: 3.5rem;
    --text-5xl: 5.875rem;


}


@layer base{
    :root {
      --primary-900: 240, 21%, 88%;
      --primary-800: 240, 15%, 76% ;
      --primary-700:  251, 13%, 68%;
      --primary-600: 252, 9%, 22%;
      --primary-500:259, 13%, 28%;
      --primary-400: 254, 22%, 32%;
      --primary-300: 243, 26%, 15%;
      --primary-200: 240, 24%, 13%;
      --primary-100: 256, 43%, 7%;
      --neutral-100: 256, 43%, 7%;
      --accent-400: 93, 60%, 69%;
  
  }
  .dark{
    --primary-900: 256, 43%, 7%;
    --primary-800: 240, 24%, 13%;
    --primary-700: 243, 26%, 15%;
    --primary-600: 252, 9%, 22%;
    --primary-500: 259, 13%, 28%;
    --primary-400: 254, 22%, 32%;
    --primary-300: 251, 13%, 68%;
    --primary-200: 240, 15%, 76%;
    --primary-100: 240, 21%, 88%;
    --neutral-100: 0, 0%, 100%;
    --accent-400: 93, 60%, 69%;
  }
  
  
}


@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 78.125rem;
  @media (min-width: var(--breakpoint-sm)) {
    padding-inline: 1.5rem;
  }
  @media (min-width: var(--breakpoint-md)) {
    padding-inline: 2rem;
  }
  @media (min-width: var(--breakpoint-lg)) {
    padding-inline: 2.5rem;
  }
  @media (min-width: var(--breakpoint-xl)) {
    padding-inline: 3rem;
  }

}

@utility text-box-trim{
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

@layer component{

  .glass-card{
    @apply rounded-xl;
    border-width: 1px;
    position: relative;
    background: hsl(from hsl(var(--primary-700)) h s l / 0.25);
    backdrop-filter: blur(12px);
    border-color: transparent;
    transition: all 0.3s ease-in-out;

  }

  .glass-card::before{
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      border-radius: inherit;
      background: linear-gradient(hsl(var(--primary-800)), hsl(var(--primary-900))) border-box;
      border-style: solid;
      border-color: transparent;
      border-width: inherit;
      transition: all 0.3s ease-in-out;
      mask: linear-gradient(black, black) border-box,
        linear-gradient(black, black) padding-box;
      mask-composite: subtract;
  }
  .glass-card.enabled-hover::before{
    scale: calc(1.03);
  }
  .dark .glass-card::before{
      background: linear-gradient(hsl(var(--primary-500)), hsl(var(--primary-700))) border-box;
  }

  .glass-card.enabled-hover::after{
    content: "";
    position: absolute;
    left:min(10%,12px);
    right: min(10%,12px);
    top: 6px;
    height: 2px;
    border-radius: 9px;
    filter: opacity(0.7) blur(8px);
    transition: all 0.3s ease-in-out;
    background:rgba(255, 255, 255, 0.4) ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.5px, rgba(0, 0, 0, 0.1) 0px 3px 5px;
  }

  .glass-card.enabled-hover:hover{
    border-color: rgba(255, 255, 255, 0.4);
  }

  .dark .glass-card.enabled-hover:hover{
    border-color: rgba(255, 255, 255, 0.2);
  }
   .glass-card.enabled-hover:hover::after{
    background-color: white;
    height: 4px;
    filter: opacity(1.1) blur(4px);
  }
  .dark .glass-card.enabled-hover:hover::after{
    background: rgba(255,255,255,0.8);
    height: 4px;
    filter: opacity(0.7) blur(8px);

  }

  .custom-container {
    margin-inline: auto;
    padding-inline: 1rem;
    max-width: 78.125rem;

    @media (min-width: 640px) {
      padding-inline: 1.5rem;
    }
    @media (min-width: 750px) {
      padding-inline: 2rem;
    }
    @media (min-width: 1024px) {
      padding-inline: 2.5rem;
    }
    @media (min-width: 1280px) {
      padding-inline: 3rem;
    }
  }

  .shiny-text {
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shine 5s linear infinite;
  }
  
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
  
  .shiny-text.disabled {
    animation: none;
  }
  
}

body{
  @apply text-body-text bg-surface-1 font-sans antialiased text-md;
  background-color: hsl(var(--primary-800));
  background-image:linear-gradient(
    hsl(from hsl(var(--primary-700)) h s l / 0.7) 0 0
  );
  isolation: isolate;
}

body::after{
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(
    hsl(from hsl(var(--primary-900)) h s l / 0.7) 0 0
  );
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  
}
body.dark::after{
  background-image: linear-gradient(
    hsl(from hsl(var(--primary-900)) h s l / 0.6) 0 0
  );
}
body::before{
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://preview.redd.it/ride-the-wave-by-janelle-cummins-3840-2160-v0-31p0zpf6zn4a1.jpg?auto=webp&s=a961c3202e9d11c98f74be4b384c73d3fde71a6d");
  filter: blur(20px) invert(1);

}
body.dark::before{
filter: none;
filter: blur(17px);
}

.h1, .h2, .h3, .h4, .h5 {
  @apply font-bold text-primary-text;
}

.h1 { 
  @apply text-2xl font-bold leading-[1.15] md:text-3xl lg:text-4xl;
}
.h2 {
  @apply text-[2rem] font-bold leading-[1.25]  md:text-2xl;
}
.h3 {
  @apply text-lg font-bold leading-[1.25] md:text-xl;
}
.h4{
  @apply text-md font-bold leading-[1.25] md:text-lg;
}
.h5{
  @apply text-sm md:text-md leading-[130%];
}



